<div class="user">
  <div class="picture">
    <span class="notification">12</span>
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text highlighted">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
<div class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="text seen">
    <h2>Karel Pepa</h2>
    <p>Text text text text text</p>
    <p><small>• Online</small></p>
  </div>
</div>
