<div class="container">
  <div id="people">
    <div class="header">
      <div>
        <h1>
          Kufr.ko
        </h1>
      </div>
    </div>
    <div class="body">
      <div id="search">
        <input type="text" placeholder="Find friends" autocomplete="off">
      </div>
      <div id="people">
        <div class="scroll">
          <div class="user">
            <div class="picture">
              <span class="notification">12</span>
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text highlighted">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
          <div class="user">
            <div class="picture">
              <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
            </div>
            <div class="text seen">
              <h2>Karel Pepa</h2>
              <p>Text text text text text</p>
              <p><small>• Online</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="highlighted">
        <img src="../../../assets/Messages.svg" alt="Messages icon">
      </div>
      <div>
        <img src="../../../assets/Groups.svg" alt="People icon">
      </div>
    </div>
  </div>
  <div id="messages">
    <div class="header">
      <div class="heading">
        <div class="picture">
          <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
        </div>
        <div>
          <h2>Karel Pepa</h2>
          <p><small>• Online</small></p>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="scroll">
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content img">
            <img src="https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg" alt="">
          </div>
        </div>
        <div class="message sent">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
        <div class="message sent">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')">
          </div>
          <div class="content text">
            Ahoj, jak se máš pepo?
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="sendInput">
        <input type="text" placeholder="Send a message...">
      </div>
      <div class="sendButton">
        <img src="../../../assets/Upload.svg" alt="">
      </div>
      <div class="sendButton">
        <img src="../../../assets/Send.svg" alt="">
      </div>
    </div>
  </div>
</div>