<div class="container">
  <div id="people">
    <div class="header">
      <div style="width: 30px;">
        <img src="../../../assets/UserSettings.svg" alt="User settings" (click)="SidePanelNumber=2">
      </div>
      <div>
        <h1>Kufr.ko</h1>
      </div>
    </div>
    <div class="body">
      <div *ngIf="SidePanelNumber == 0 || SidePanelNumber == 1">
        <div id="search">
          <input type="text" [placeholder]="SidePanelNumber==0?'Search..':'Find friends..'" autocomplete="off"
            [(ngModel)]="Search" (ngModelChange)="searchForPeople(Search)" />
        </div>
        <div id="people">
          <div class="scroll">
            <!--GROUPS-->
            <div *ngIf="SidePanelNumber == 0" id="groups">
              <div *ngFor="let group of groups">
                <a title="{{group.Name}}" class="user" *ngIf="group.Name.toLowerCase().includes(Search.toLowerCase())"
                  (click)="selectedGroupId = group.Id" [class.selected]="group.Id==selectedGroupId" (click)="loadMessages(group.Id)">
                  <div class="picture">
                    <span *ngIf="group.NewMessages != null && group.NewMessages > 0" class="notification">{{group.NewMessages>99?'99+':group.NewMessages}}</span>
                    <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
                  </div>
                  <div class="text" [class.highlighted]="group.NewMessages != null && group.NewMessages > 0"
                    [class.seen]="group.NewMessages == null || group.NewMessages >= 0">
                    <h2>{{trimStr(group.Name, 22)}}</h2>
                    <p>{{trimStr(group.LastMessageText,26)}}</p>
                    <p><small>{{calcLastOnline(group.LastMessageDate)}}</small></p>
                  </div>
                </a>
              </div>
              <div class="seperator" *ngIf="amountValidGroups() == 0 && Search.length > 0">
                <p>No search results</p>
              </div>
              <div class="seperator" *ngIf="amountValidGroups() == 0 && Search.length == 0">
                <p>You aren't in any group</p>
              </div>
              <div class="loading" *ngIf="amountValidGroups() == null"><img src="../../../assets/Loading.svg" alt="Loading"></div>
            </div>
            <!--PEOPLE-->
            <div *ngIf="SidePanelNumber == 1" id="people">
              <div class="heading">
                <h2>Friend requests</h2>
              </div>

              <div *ngFor="let person of pendingFriends">
                <a class="person" *ngIf="person.Name.toLowerCase().includes(Search.toLowerCase())">
                  <div class="ppicture">
                    <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
                  </div>

                  <div class="request">
                    <div>
                      <h3 title="{{person.Name}}">{{trimStr(person.Name, 18)}}</h3>
                    </div>
                    <div>
                      <div class="btn">
                        <img src="../../../assets/Accept.svg" alt="Accept friend request" (click)="changeUserStatus(person.Id, 1)" />
                      </div>
                    </div>
                    <div>
                      <div class="btn">
                        <img src="../../../assets/Deny.svg" alt="Deny friend request" (click)="changeUserStatus(person.Id, 0)" />
                      </div>
                    </div>
                    <div class="btn">
                      <div>
                        <img src="../../../assets/Block.svg" alt="Block user" (click)="changeUserStatus(person.Id, 2)" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="heading">
                <h2>Friends</h2>
              </div>

              <div *ngFor="let person of friends">
                <a class="person" *ngIf="person.Name.toLowerCase().includes(Search.toLowerCase())">
                  <div class="ppicture">
                    <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
                  </div>
                  <div class="friend">
                    <div>
                      <h3 title="{{person.Name}}">{{trimStr(person.Name, 18)}}</h3>
                    </div>
                    <div class="btn">
                      <img src="../../../assets/UserSettings.svg" alt="User settings" />
                    </div>
                  </div>
                </a>
              </div>

              <div *ngIf="Search != 0">
                <div class="heading">
                  <h2>People</h2>
                </div>

                <a class="person" *ngFor="let person of searchResult">
                  <div class="ppicture">
                    <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
                  </div>
                  <div class="friend">
                    <div>
                      <h3 title="{{person.Name}}">{{trimStr(person.Name, 18)}}</h3>
                    </div>
                    <div class="btn">
                      <img src="../../../assets/AddFriend.svg" alt="User settings" (click)="server.SendFriendRequest(person.Id)" />
                    </div>
                  </div>
                </a>
                <div class="seperator" *ngIf="searchResult.length == 0 && !searching">
                  <p>No search results</p>
                </div>
                <div class="loading" *ngIf="searching"><img src="../../../assets/Loading.svg" alt="Loading"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="SidePanelNumber == 2" id="userSettings">
        <div class="heading">
          <h2>Preferences</h2>
        </div>
        <div class="item">
          <div>
            <h3 *ngIf="!beingEdited['username']">Username</h3>
            <input *ngIf="beingEdited['username']" type="text" [(ngModel)]="currentUser.Name">
            <p *ngIf="failedEdit['username']">This is not valid username!</p>
          </div>
          <div>
            <img *ngIf="!beingEdited['username']" src="../../../assets/Edit.svg" alt="Edit" (click)="beingEdited['username'] = true">
            <img *ngIf="beingEdited['username'] && !loadingEdit['username'] == true" src="../../../assets/Accept.svg"
              alt="Accept" (click)="updateUsername(currentUser.Name)">
            <img *ngIf="loadingEdit['username'] == true" src="../../../assets/Loading.svg" alt="Loading">
          </div>
        </div>

        <div class="item">
          <div>
            <h3 *ngIf="!beingEdited['password']">Password</h3>
            <input *ngIf="beingEdited['password']" [(ngModel)]="password" type="password" placeholder="Password">
            <p *ngIf="failedEdit['password']">This is not valid password!</p>
          </div>
          <div>
            <img *ngIf="!beingEdited['password']" src="../../../assets/Edit.svg" alt="Edit" (click)="beingEdited['password'] = true">
            <img *ngIf="beingEdited['password'] && !loadingEdit['password'] == true" src="../../../assets/Accept.svg"
              alt="Accept" (click)="updatePassword(password);">
            <img *ngIf="loadingEdit['password'] == true" src="../../../assets/Loading.svg" alt="Loading">
          </div>
        </div>

        <div class="item">
          <div>
            <h3 *ngIf="!beingEdited['visibility']">Visibility</h3>
            <select *ngIf="beingEdited['visibility']" [(ngModel)]="visibility">
              <option value="0">Visible to all</option>
              <option value="1">Hidden</option>
            </select>
            <p *ngIf="failedEdit['visibility']">Error, visibility not updated</p>
          </div>
          <div>
            <img *ngIf="!beingEdited['visibility']" src="../../../assets/Edit.svg" alt="Edit" (click)="beingEdited['visibility'] = true">
            <img *ngIf="beingEdited['visibility'] && !loadingEdit['visibility'] == true" src="../../../assets/Accept.svg"
              alt="Accept" (click)="updateVisibility(visibility);">
            <img *ngIf="loadingEdit['visibility'] == true" src="../../../assets/Loading.svg" alt="Loading">
          </div>
        </div>

        <div class="item">
          <div>
            <h3>Profile picture</h3>
            <input id="selectProfile" type="file" (change)="updateProfilePic($event.target.files)" hidden>
            <p *ngIf="failedEdit['profile']">Failed to upload</p>
          </div>
          <div>
            <label for="selectProfile">
              <img *ngIf="!loadingEdit['profile']" src="../../../assets/Edit.svg" alt="Edit">
            </label>
            <img *ngIf="loadingEdit['profile'] == true" src="../../../assets/Loading.svg" alt="Loading">
          </div>
        </div>

        <div class="heading">
          <h2>Account</h2>
        </div>

        <div class="item clickable" (click)="server.LogOut()">
          <div>
            <h3>Log out</h3>
          </div>
        </div>

        <div class="item clickable" (click)="deleteSelf()">
          <div>
            <h3 style="color: #FF3838">Delete account</h3>
          </div>
        </div>

      </div>
    </div>
    <div class="footer">
      <div [class.highlighted]="SidePanelNumber == 0" (click)="SidePanelNumber = 0">
        <div class="bgIcon" style="background-image: url('../../../assets/Messages.svg');">
          <span *ngIf="newMessagesTotal()!=0" class="notification">{{newMessagesTotal()>=100?'99+':newMessagesTotal().toString()}}</span>
        </div>
      </div>
      <div (click)="SidePanelNumber = 1" [class.highlighted]="SidePanelNumber == 1">
        <div class="bgIcon" style="background-image: url('../../../assets/Groups.svg');">
          <span *ngIf="pendingFriends != undefined && pendingFriends.length!= 0" class="notification">{{pendingFriends.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <div id="messages">
    <div class="header">
      <div class="heading">
        <div class="hpicture">
          <div style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
        </div>
        <div>
          <h2>{{findGroupById(selectedGroupId).Name}}</h2>
          <p><small>• Online</small></p>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="scroll" id="messageBody">

        <!--MESSAGES-->
        <div *ngIf="loadingMessages[selectedGroupId]" class="loading"><img src="../../../assets/Loading.svg" alt="Loading"></div>
        <div *ngIf="allMessagesLoaded[selectedGroupId]" class="seperator">
          <p>All messages loaded</p>
        </div>

        <div *ngFor="let message of (messages[selectedGroupId]==undefined?messages[selectedGroupId]:messages[selectedGroupId].reverse());index as i;">
          <div class="date" *ngIf="isFirstOfGroup(i, selectedGroupId)">
            <p>{{getDate(message.Sent)}}</p>
          </div>
          <div class="message" [ngClass]="{
          'sent': message.UserIsSender,
          'recieved': !message.UserIsSender 
        }">
            <div *ngIf="!message.UserIsSender && (i == 0 || messages[selectedGroupId][i].UserInfo.Id != messages[selectedGroupId][i-1].UserInfo.Id || isFirstOfGroup(i, selectedGroupId))"
              class="name">
              {{message.UserInfo.Name}}
            </div>
            <div>
              <div class="msgpic" [ngStyle]="{
      'background-image': isLastOfGroup(i, selectedGroupId)?'url(https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg)': ''
    }"></div>
              <div class="content text">{{message.Text}}</div>
            </div>
          </div>
        </div>

        <div class="message sending" *ngFor="let message of pendingMessages[selectedGroupId];">
          <div class="msgpic"></div>
          <div class="content text">{{message.Text}}</div>

          <div id="bottom"></div>
          <!--
        <div class="message recieved">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
          <div class="content img">
            <img src="https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg" alt="" />
          </div>
        </div>
        <div class="message sent">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
          <div class="content text">Ahoj, jak se máš pepo?</div>
        </div>
        <div class="message sent">
          <div class="msgpic" style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"></div>
          <div class="content text">Ahoj, jak se máš pepo?</div>
        </div>-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="sendInput">
        <input type="text" placeholder="Send a message..." name="messageText" [(ngModel)]="messageInput"
          (keydown.enter)="sendMessage()" />
      </div>
      <div class="sendButton" id="sendFile">
        <label for="selectFile">
          <img src="../../../assets/Upload.svg" alt="" />
        </label>
        <input id="selectFile" type="file" (change)="handleFileInput($event.target.files)">
      </div>
      <div class="sendButton">
        <img src="../../../assets/Send.svg" alt="" (click)="sendMessage()" (keydown)="sendMessage()" />
      </div>
    </div>
  </div>
</div>
