.notification {
  padding-top: 2px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  float: right;
  background-color: #ff3838;
  width: 22px;
  height: 22px;
  border-radius: 50px;
}

.picture {
  padding: 16px;
  height: 70px;
  width: 70px;
}

.picture div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: 50% 50%;
  border-radius: 100px;
}

.container {
  display: grid;
  grid-template-columns: 400px auto;
}

.header {
  padding-top: 15px;
  height: 56px;
  background-color: #247ba0;
  text-align: center;
  color: #fff;
}

/*** PEOPLE SECTION ***/
.scroll {
  overflow-y: scroll;
}

#people .scroll {
  height: calc(100vh - 157px);
}

#people .header>div {
  padding-top: 0;
}

#people .header h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#people .body {
  border-right: solid 1px #7C7C7C;
}

#search {
  height: 38px;
}

#search input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  color: #414755;
  border-bottom: solid 1px #7C7C7C;
  border-top: none;
  border-left: none;
  border-right: none;

  text-indent: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 25px;
  background-size: 25px;
  background-position: 12px 5px;
  background-image: url("../../../assets/FindFriends.svg");
}

#search input::placeholder {
  color: #7c7c7c;
}

/*** MESSAGES SECTION ***/
#messages .scroll {
  height: calc(100vh - 119px);
}

#messages .header {
  display: flex;
  justify-content: space-around;
}

.heading {
  display: flex;
  text-align: left;
}

.heading h2 {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
}

.heading p {
  line-height: 10px;
  margin: 0;
}

.hpicture {
  height: 45px;
  width: 45px;
  margin-right: 20px;
}

.hpicture div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  border-radius: 100px;
}

.message>div {
  margin: 4px;
  display: flex;
  word-break: break-all;
}

.sending {
  margin: 5px;
  display: flex;
  word-break: break-all;
}

.name {

  padding: 4px 70px 0;
  color: #7c7c7c;
  font-size: 12px;
}

.sent>div {
  flex-direction: row-reverse;
}

.sent .content {
  background-color: #ededed;
  border: rgb(168, 168, 168) solid 1px;
}

.sending {
  flex-direction: row-reverse;
}

.sending .content {
  background-color: #ededed;
}

.recieved .content {
  background-color: #247ba0;
  color: #fff;
}

.message .content {
  margin: 0 0 0 8px;
  border-radius: 15px;
  display: inline-block;
  max-width: 60%;
}

.message .text {
  padding: 4px 12px;
}

.message .msgpic {
  margin: 0 12px;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.message .img {
  background-color: transparent;
}

.message .img>img {
  border-radius: 15px;
  margin: -1px;
}

/***FOOTER***/
.footer {
  display: flex;
  text-align: center;

  background-color: #247ba0;
}

/***PEOPLE***/
.ppicture {
  padding: 10px 16px;
  height: 40px;
  width: 40px;
}

.ppicture div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  border-radius: 100px;
}

.person {
  display: flex;
  border-bottom: solid 1px #7C7C7C;
}

.person:hover {
  background-color: #ededed;
  cursor: pointer;
}

.person:active {
  background-color: #e8e5e5;
}

.person h3 {
  padding: 0;
  margin: 16px 0 0 0;
  color: #414755;
  font-weight: 400;
  font-size: 22px;
}

.person p {
  padding: 0;
  margin: 0;
  line-height: 16px;
}

#people .heading h2 {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #414755;
  margin: 0;
  padding: 2px;
  text-indent: 16px;
  border-bottom: solid 1px #7C7C7C;
}

#people .friend,
#people .request {
  flex: auto;
  display: flex;
}

#people .friend div:nth-child(1) {
  flex: auto
}

#people .friend div:nth-child(2) {
  width: 17px;
  padding: 18px 20px 0 0;
}

#people .friend img {
  width: 100%;
}

#people .request div:nth-child(1) {
  flex: auto
}

#people .request div:nth-child(2),
#people .request div:nth-child(3),
#people .request div:nth-child(4) {
  width: 17px;
  padding: 18px 20px 0 0;
}

#people .btn img:hover {
  width: 95%;
}

#people .footer {
  height: 48px;
  justify-content: space-around;
}

#people .footer img {
  height: 100%;
}

#people .footer>div {
  padding: 9px 15px;
  width: 100%;
}

#people .footer .highlighted {
  background-color: #1c9cd3;
}

#people .footer>div:hover {
  background-color: #1c9cd3;
  cursor: pointer;
}

.bgIcon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

#people .footer .notification {
  margin: -5px 52px 0 0;
}

.footer>div {
  transition: .3s;
}

/***MESSAGES***/
.user {
  display: flex;
  border-bottom: solid 1px #7C7C7C;
}

.user:hover {
  background-color: #ededed;
  cursor: pointer;
}

.selected {
  background-color: #ededed;
}

.user:active {
  background-color: #e8e5e5;
}

.user .text h2 {
  padding: 0;
  margin: 18px 0 0 0;
  color: #414755;
}

.user .text p {
  padding: 0;
  margin: 0;
  line-height: 16px;
}

.seen p {
  color: #7c7c7c;
}

.seen h2 {
  font-weight: 400;
}

.highlighted p {
  color: #414755;
}

.highlighted h2 {
  font-weight: 700;
}

#messages .footer {
  height: 30px;
  padding: 9px 15px;
  justify-content: space-between;
}

#messages .footer input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: #414755;

  border: solid #cccccc 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 25px;

  text-indent: 12px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 25px;
  background-size: 25px;
  background-position: 6px 5px;
  padding: 5px 5px 5px 5px;
}

#messages .footer input::placeholder {
  color: #7c7c7c;
}

#messages .footer img {
  height: 100%;
}

#messages .sendInput {
  flex: auto;
  width: 100%;
}

#messages .sendButton {
  flex: 70px;
}

.loading {
  text-align: center;
  margin: 10px 0 0;
}

.loading img {
  width: 30px;
}

.seperator {
  text-align: center;
}

.seperator p {
  font-size: 14px;
  color: #7C7C7C;
}

.date {
  text-align: center;
  padding: 0;
  margin: 0;
}

.date p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #7C7C7C;
}

#sendFile>input {
  display: none;
}

/***My profile***/
#userSettings .item h3 {
  color: #414755;
  text-indent: 0px;
  font-size: 24px;
  margin: 10px;
  font-weight: 400;
}

#userSettings .item {
  border-bottom: solid 1px #7C7C7C;
  display: flex;
  justify-content: space-between;
  height: 52px;
}

#userSettings .item img {
  padding: 15px;
  width: 20px;
}

#userSettings .item div {
  padding: 0 15px;
}

.hidden {
  visibility: hidden;
}

#userSettings .item input {
  color: #414755;
  text-indent: 0px;
  font-size: 22px;
  margin: 7px 10px 0;
  font-weight: 400;
  border: none;
  border-bottom: solid 1px #414755
}

#userSettings .item p {
  color: #ff3838;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-indent: 10px;
}

.clickable:hover {
  background-color: #ededed;
  cursor: pointer;
}
