<div class="background">
    <div class="login">
        <div class="content">
            <img src="../../assets/Kufr.svg" alt="Kufr.ko logo" id="logo">
                <input [(ngModel)]="username" id="username" type="text" placeholder="Username">
                <p id="usernameErr" class="red hidden error">Please enter a username</p>
                <input [(ngModel)]="email" id="email" type="text" placeholder="Email" name="name">
                <p id="emailErr" class="red hidden error">Invalid email</p>
                <p id="emailDup" class="red hidden error">Email already exists</p>
                <input [(ngModel)]="password" type="password" placeholder="Password" name="password">
                <p id="passwordErr" class="red hidden error">Please enter a password</p>
            <button (click)="register()">Register</button>
            <a [routerLink]="['/login']" id="createaccount" class="darkblue">Log in instead</a>
        </div>
    </div>
</div>
