<div class="heading"><h2>Friend requests</h2></div>

<a class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="request">
    <div><h3>Karel Pepa</h3></div>
    <div>
      <div class="btn">
        <img src="../../../assets/Accept.svg" alt="Accept friend request" />
      </div>
    </div>
    <div>
      <div class="btn">
        <img src="../../../assets/Deny.svg" alt="Deny friend request" />
      </div>
    </div>
    <div class="btn">
      <div><img src="../../../assets/Block.svg" alt="Block user" /></div>
    </div>
  </div>
</a>

<div class="heading"><h2>Friends</h2></div>

<a class="user">
  <div class="picture">
    <div
      style="background-image: url('https://cdn-images-1.medium.com/fit/c/100/100/0*EdUYcQhX6TPWdQ6p.jpg')"
    ></div>
  </div>
  <div class="friend">
    <div><h3>Karel Pepa</h3></div>
    <div class="btn">
      <img src="../../../assets/UserSettings.svg" alt="User settings" />
    </div>
  </div>
</a>
